.dashboard-offer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: snow solid 0.25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: white;
}

.pending-card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: snow solid 0.25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: white;
}

.accepted-card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: snow solid 0.25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: white;
}

.declined-card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: snow solid 0.25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: white;
}

.btn-dashboard {
 border-radius: 20px;
 margin-bottom: 30px;
}
