.user-box {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px 0;
  margin: 50px 0;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  #bio {
    color: black;
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}

#user-full-name {
  color: white;
}

#bio-box {
  background-color: white;
}
