<div class="booking-card">
<%= simple_form_for [ @offer, @booking] do |f| %>
  <%= f.input :start_time, as: :date, html5: true %>
  <%= f.input :end_time, as: :date, html5: true %>
  <%= f.submit 'Create booking', class: 'btn btn-primary' %>
<% end %>
</div>
