<div class="card-trip">
  <img src="https://source.unsplash.com/collection/335434" />
  <div class="card-trip-infos">
    <div>
      <h2 id="user-full-name"><%= @user.first_name %> <%= @user.last_name %></h2>
      <p>Skillset: <%= @user.skillset %></p>
    </div>
    <h2 class="card-trip-pricing"></h2>
     <%= cl_image_tag @user.photo.key, class:"card-trip-user avatar-bordered" %>
  </div>
</div>
