<div class="d-flex">
  <div class="row">
    <% @users.each do |user| %>
      <div class="card mt-5 mb-5 ml-2 mr-2 col-5 justify-content-center align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="https://picsum.photos/500" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= user.first_name %> <%= user.last_name %></h5>
          <p class="card-text">Batch 734 Alumni!.</p>
          <a href="classmates/<%= user.id %>" class="btn btn-success">Check Profile</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
