 <div>
    <% @offers.each do |offer| %>
    <% if offer.user == @user %>
      <div class="card-product">
        <%= cl_image_tag offer.user.photo.key, class:"card-img" %>
        <div class="card-product-infos">
          <h2><%= link_to offer.title, offer_path(offer) %></h2>
          <h4><%= offer.category %></h4>
          <p><%= offer.description %></p>
        </div>
      </div>
      <% end %>
    <% end %>
</div>
