<br>

<%= render "user_show_card" %>
<div class="user-box" id="bio-box">
  <h3>Bio</h3>
  <hr>
  <p id="bio">  <%= @user.bio %></p>
</div>
<div class="user-box">
  <h3><%= @user.first_name %>'s Offers</h3>
  <hr>
  <%= render "user_offer_card" %>
</div>
