<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://leumiusa.com/wp-content/uploads/2015/10/banner-industry-tech.jpg);">
  <div class="container">
    <h1>RENT A CLASSMATE</h1>
    <h3>Batch 734 brings <strong>tech skills</strong> to <strong>Batch 734</strong>!</h1>
    <p>Change your life and hire one of these fantastic Alumnis.</p>
    <a class="btn btn-success" href="http://localhost:3000/offers">Check this out</a>
  </div>
</div>
