<div class="d-flex">
  <div class="row">
    <div class="card mt-5 mb-5 ml-2 mr-2 col-5 justify-content-center align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="https://public.picdrop.com/t/Meef76H3tYC3rlmwtaRg.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ivan Schlagheck</h5>
        <p class="card-text">Batch 734 Alumni!</p>
        <a href="#" class="btn btn-success">Check Profile</a>
      </div>
    </div>
    <div class="card mt-5 mb-5 ml-2 mr-2 col-5 justify-content-center align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="https://public.picdrop.com/t/S9u4R4x9FtdjhNssmaot.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Alastair Grant</h5>
        <p class="card-text">Batch 734 Alumni!.</p>
        <a href="#" class="btn btn-success">Check Profile</a>
      </div>
    </div>
    <div class="card mt-5 mb-5 ml-2 mr-2 col-5 justify-content-center align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="https://public.picdrop.com/t/QXdgnSnqFVDqQ8fj5v2c.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tarik Azale</h5>
        <p class="card-text">Batch 734 Alumni!</p>
        <a href="#" class="btn btn-success">Check Profile</a>
      </div>
    </div>
    <div class="card mt-5 mb-5 ml-2 mr-2 col-5 justify-content-center align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="https://public.picdrop.com/t/DPNUNSNwgDVVKfcAPmyy.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jesse Danoesastro</h5>
        <p class="card-text">Batch 734 Alumni!</p>
        <a href="#" class="btn btn-success">Check Profile</a>
      </div>
    </div>
  </div>
</div>
