<div class="card-trip">
  <img src="https://rise-media.com/wp-content/uploads/tech-banner.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Hi <%= current_user.first_name %>!</h2>
      <p>What would you like to do today?</p>
    </div>
    <h2 class="card-trip-pricing"></h2>
    <img src="https://64.media.tumblr.com/4dace75907afef13ec4a6cfbe43a6b4c/45e0c5bfd3ffb78e-a3/s500x750/f54a2ef3cf0f1d95d684c8cb6d33aed131c0326d.png" class="card-trip-user avatar-bordered" />
  </div>
</div>
