.booking-show {
  padding-top: 70px;
  img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.booking-show-info {
  overflow: hidden;
  background: red;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-size: cover;
  margin-bottom: 30px;
  padding: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: linear-gradient(#FE7175, #FD1015);

}

.booking-show > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.booking-show-info h1 {
  color: white;
  font-weight: bold;
}

.booking-show-info p {
  color: black;
}

.booking-show-info h4 {
  font-size: small;
  color: white;
  font-weight: bolder;
}

.booking-show-info h5 {
  color: white;
}
