// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.avatar-div {
  position: relative;
}

.mainpage-avatar {
  position: absolute;
  top: 25px;
  right: 70px;
  height: 37px;
  width: 37px;
}
